<div style="background:#f2f2f2">
    <div>
        <div style="margin:0 auto;max-width:600px;background:#ffffff">
            <table cellpadding="0" cellspacing="0" style="width:100%;font-size:0px;background:#ffffff" align="center" border="0">
                <tbody>
                    <tr style="border-top:3px #ff9c00">
                        <td style="text-align:center;vertical-align:middle;font-size:0;padding:20px 0;padding-top:20px;padding-bottom:1px;padding-left:30px;padding-right:30px;border-top:3px #e3f5fd solid">
                            <div aria-labelledby="mj-column-per-100" class="m_-1197972122439690691mj-column-per-100" style="vertical-align:middle;display:inline-block;font-size:13px;text-align:left;width:100%;min-width:100%">
                                <table cellpadding="0" cellspacing="0" width="100%" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="font-size:0;padding:10px 25px;padding-top:20px;padding-bottom:20px;padding-right:25px;padding-left:25px" align="center">
                                                <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px" align="center" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                              <a>
                                                                <img alt="" src="https://storage.googleapis.com/cerebral/cerebral-logo-for-email.png" style="border:none;display:block;outline:none;text-decoration:none;width:200px;height:auto" width="200" height="auto" class="CToWUd">
                                                              </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:0;padding:0px 0px;padding-top:0px;padding-bottom:0px" align="center">
                                                <div style="color:#000000;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:13px;line-height:13px">
                                                    <h1 style="font-family:Open Sans,Helvetica,Arial,sans-serif;font-size:26px;font-weight:700;line-height:30px"><span style="color:#55575d">Confirm your registration</span></h1>
                                                    <p>
                                                        <span style="color:rgb(151,151,151)">
                                                            </span></p><h3><p><span style="color:rgb(151,151,151)">Thanks for joining Cerebral! Get ready to take off with our awesome all-in-one service. Verify your email address by clicking the following button:</span></p></h3>
                                                    <p></p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="margin:0 auto;max-width:600px;background:#ffffff">
            <table cellpadding="0" cellspacing="0" style="width:100%;font-size:0px;background:#ffffff" align="center" border="0">
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;font-size:0;padding:20px 0;padding-top:2px;padding-bottom:2px;padding-left:30px;padding-right:30px">
                            <div aria-labelledby="mj-column-per-100" class="m_-1197972122439690691mj-column-per-100" style="vertical-align:top;display:inline-block;font-size:13px;text-align:left;width:100%;min-width:100%">
                                <table cellpadding="0" cellspacing="0" width="100%" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="background:#ffffff;font-size:0;padding:15px 30px;padding-top:10px;padding-bottom:10px;padding-right:25px;padding-left:25px" align="center">
                                                <table cellpadding="0" cellspacing="0" style="border:none;border-radius:3px" align="center" border="0">
													<tbody>
														<tr>
															<td style="background:#e3f5fd;border-radius:3px;color:#ffffff" align="center" valign="top" bgcolor="#e3f5fd">
																<a href="<%= text %>" style="display:inline-block;text-decoration:none;background:#e3f5fd;border:1px solid #9c27b0;border-radius:3px;color:#9c27b0;font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;padding:15px 30px" target="_blank">
																	Complete your registration
																</a>
															</td>
														</tr>
													</tbody>
												</table>
												</td>
                                        </tr>
                                        <tr>
                                          <td style="font-size:0;padding:10px 25px;padding-top:4px;padding-bottom:0px;padding-right:25px;padding-left:25px" align="center">
                                              <div style="color:#000000;font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:13px;line-height:13px">
                                                  <p>
                                                      <span style="color:rgb(151,151,151)">
                                                      Once you have finished setting up your account you can immediately try app features. You will gain access to numerous exciting features such as redux todo list and more. <br> <br> <br> Have fun!<br> Cerebral App
                                                      </span>
                                                  </p>
                                              </div>
                                          </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:0;padding:10px 25px;padding-top:20px;padding-bottom:5px;padding-right:0%;padding-left:0%">
                                                <p style="font-size:1px;margin:0px;border-top:1px solid #ded8d8;width:100%"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:0;padding:10px 25px;padding-top:1px;padding-bottom:5px;padding-right:25px;padding-left:25px" align="center">
                                                <div style="color:#000000;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:13px;line-height:13px">
                                                    <p><span style="color:rgb(151,151,151)"><u><a href="" style="color:inherit;text-decoration:none" target="_blank">Visit Cerebral</a></u>&nbsp; &nbsp; &nbsp; &nbsp;<u><a href="" style="color:inherit;text-decoration:none" target="_blank">About us</a></u>&nbsp;</span></p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="margin:0 auto;max-width:600px;background:#f2f2f2">
            <table cellpadding="0" cellspacing="0" style="width:100%;font-size:0px;background:#f2f2f2" align="center" border="0">
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;font-size:0;padding:20px 0;padding-top:0px;padding-bottom:0px">
                            <div aria-labelledby="mj-column-per-100" class="m_-1197972122439690691mj-column-per-100" style="vertical-align:top;display:inline-block;font-size:13px;text-align:left;width:100%;min-width:100%">
                                <table cellpadding="0" cellspacing="0" width="100%" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="font-size:0;padding:5px 25px;padding-top:5px;padding-bottom:5px;padding-right:25px;padding-left:25px" align="center">
                                                <div style="color:#000000;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:13px;line-height:16px">
                                                    <p><span style="color:rgb(151,151,151)"><span style="font-size:12px">This email alert was sent to you by <strong style="color:#aaaaaa"><a href="http://mailjet.com" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://mailjet.com&amp;source=gmail&amp;ust=1476699925752000&amp;usg=AFQjCNH-XwhItwCVRKP8a9Wy8IhHb3R71w">cerebral.com</a></strong>, Fullstack React JS App: scalable, agile and flexible.</span> <span style="font-size:12px">Please contact us if you feel this email was sent to you by error.</span></span>
                                                    </p>
                                                    <p>
														<span style="color:rgb(151,151,151)">
															<span style="font-size:12px">
																<strong>Cerebral App</strong>
																Sleman, Yogyakarta
																55581 Daerah Istimewa Yogyakarta
															</span>
														</span>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>        
        <table cellpadding="0" cellspacing="0" style="background:#f2f2f2;width:100%;font-size:0px" border="0">
            <tbody>
                <tr>
                    <td>
                        <div style="margin:0 auto;max-width:600px">
                          <!-- TODO: Add social media icon -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>